@import 'tailwindcss';

:root {
    --background: black;
    --foreground: bwhite;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    /* --font-family: 'Libre Baskerville', sans-serif;*/
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'Libre Baskerville', sans-serif;
}
.outer2 {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.loop2 {
    display: inline-block;
    animation: loopScroll 20s linear infinite;
}

.content2 {
    display: inline-block;
    padding-right: 40px;
    font-weight: 600;
}

@keyframes loopScroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
